*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    background: linear-gradient(to top, rgb(250, 250, 250), rgb(175, 146, 91))
}
header{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
h1{
    color: rgb(3, 2, 1);
    text-align: center;
    text-shadow: 1px 2px 10px black;
}
img{
    border-radius: 60rem;
    height: 20rem;
    width: 20rem;
    margin-top: 2rem;
    box-shadow: 1px 1px 30px;
}
h3{
    text-align: center;
    margin-top: 1rem;
    margin-left: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
}
p{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 20px;
    margin: 1.5rem;
}
li{

    margin-left: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 20px;
}
li::marker{
    color: rgb(70, 70, 70);
}
h5{
    font-size: larger;
    margin: 3rem;
    text-align: center;
}
h5 a{
    font-size: 22px;
    color: rgb(35, 25, 118);
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}
.form *{
    margin: 4px;
}
#div_ul{
    display: flex;
}
#div_ul div{
    margin-right: 5rem;
    margin-left: 5rem;
}
.ul,.ol{
    display: flex;
    align-items: center;
    justify-content: center;
}
i{
    color: rgb(173, 0, 0);
}
